<div class="modal fade" id="editBranchModal" tabindex="-2" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id="edit-branch-form">
                <div class="modal-body">

                    {% csrf_token %}

                    {{ branch_form.as_p }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-secondary">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var url;
    $(document).ready(function () {
        $('.btn-edit-branch').on('click', function () {
            var branchId = $(this).data('id');
            url = '/edit_branch/'+ branchId;

            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    $('#editBranchModal #id_branch_name').val(response.branch_name);
                    $('#editBranchModal #id_branch_CNPJ').val(response.branch_CNPJ);
                    $('#editBranchModal #id_status').prop('checked', response.status);
                },
                error: function (xhr, status, error) {
                    console.log('erro', error)
                }
            });
        });
        $('#edit-branch-form').on('submit', function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function (response) {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log('erro', error)
                }
            });
        });
    });
</script>

<script>
