{% extends 'base.html' %}

{% block content %}

<div>
    <h1> Hello! </h1>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#addBranchModal">Adicionar</button>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    {% if company_branches %}
    {% for branch in company_branches %}

    {{branch.branch_name}}
    {% with cnpj=branch.branch_CNPJ %}
    {{ cnpj|slice:"0:2" }}.{{ cnpj|slice:"2:5" }}.{{ cnpj|slice:"5:8" }}/{{ cnpj|slice:"8:12" }}-{{ cnpj|slice:"12:14"}}
    {% endwith %}

    <button type="button" class="btn btn-primary btn-edit-branch" data-bs-toggle="modal"
    data-bs-target="#editBranchModal" data-id="{{ branch.id }}">Editar</button>

    {% endfor %}
    {% endif %}

    <br />

    <button type="submit" class="btn btn-secondary">Atualizar</button>
</form>


<!-- Add new branch -->
{% include 'add_branch.html' %}

<!-- Edit branch -->
{% include 'edit_branch.html' %}
{% endblock %}