{% extends 'base.html' %}

{% block content %}



<form method="POST">
    {% csrf_token %}

    <div class="row mt-3">
        <div class="col-md-3">
            <h2>Dados Cadastrais</h2>
            <p>Informações cadastrais da empresa cliente.</p>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ form.company_name.id_for_label }}" class="form-label">{{ form.company_name.label }}</label>
                                {{ form.company_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-end">
                                <label for="{{ form.status.id_for_label }}" class="form-label d-block text-center">{{ form.status.label }}</label>
                                <div class="d-flex justify-content-center">
                                    {{ form.status }}
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-md-3">
            <h2>CNPJs</h2>
            <p>Cadastro de CNPJs relacionados com a empresa cliente.</p>
        </div>

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
                        data-bs-target="#addBranchModal">Adicionar</button>
                    {% if company_branches %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>CNPJ</th>
                                <th>Nome da filial</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch in company_branches %}
                            <tr>
                                <td>{% with cnpj=branch.branch_CNPJ %}
                                    {{ cnpj|slice:"0:2" }}.{{ cnpj|slice:"2:5" }}.{{ cnpj|slice:"5:8"}}/{{cnpj|slice:"8:12"}}-{{ cnpj|slice:"12:14"}}
                                    {% endwith %}</td>
                                <td>
                                    {{ branch.branch_name }}
                                </td>
                                <td>
                                    {% if branch.status %}
                                    <span class="badge bg-success">Ativo</span>
                                    {% else %}
                                    <span class="badge bg-danger">Inativo</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary btn-edit-branch" data-bs-toggle="modal"
                                        data-bs-target="#editBranchModal" data-id="{{ branch.id }}">
                                        <i class="bi bi-pen"></i> Editar</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                    
                        {% if company_branches.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ company_branches.previous_page_number }}">Anterior</a>
                        </li>
                        {% elif not company_branches.has_previous %}
                            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                        {% endif %}
                    
                        {% for page in company_branches.paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                    
                        {% if company_branches.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ company_branches.next_page_number }}">Próxima</a>
                        </li>
                        {% elif not company_branches.has_next %}
                            <li class="page-item disabled"><a class="page-link" href="#">Próxima</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                    {% else %}
                    <p>Nenhum CNPJ encontrado.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mt-3 mb-3">
        <button type="submit" class="btn btn-primary float-end">Atualizar</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            Excluir
        </a>
    </div>
</form>



<!-- Add new branch -->
{% include 'company_management/add_branch_modal.html' %}

<!-- Edit branch -->
{% include 'company_management/edit_branch_modal.html' %}

<!-- Delete modal -->
{% include 'company_management/delete_modal.html' %}

{% endblock %}